# MotherDuck

## Summary

MotherDuck is serverless, easy-to-use platform, based on the DuckDB query engine.   
MotherDuck makes it easy to connect to your data, explore it, and ask questions about it.   
It is a great option for businesses of all sizes who need to do basic data analysis.

In [1]:
# Import libraries
import pandas as pd
import polars as pl
import duckdb
import json

In [2]:
# path to credentials folder
filename = '../APIS/credentials.json'

# read json file
with open(filename) as f:
    keys = json.load(f)

# read credentials
token = keys['md_token']

In [3]:
# Create motherduck connection
conn = duckdb.connect(f'md:?motherduck_token={token}')

In [4]:
# Write query
q = '''
SELECT * 
FROM gastos2021
LIMIT 5
'''

In [5]:
# Read query
conn.sql(q).show()

┌────────────┬───────────┬──────────────┬──────────────────┬──────────┬───────────────────┐
│   fecha    │ categoria │ subcategoria │    tipo_pago     │ cantidad │   observaciones   │
│    date    │  varchar  │   varchar    │     varchar      │  double  │      varchar      │
├────────────┼───────────┼──────────────┼──────────────────┼──────────┼───────────────────┤
│ 2018-03-31 │ Gastos    │ Comida       │ Efectivo         │     30.0 │ NULL              │
│ 2018-03-31 │ Gastos    │ Despensa     │ Efectivo         │     42.0 │ Aurrera           │
│ 2018-04-01 │ Gastos    │ Despensa     │ Tarjeta Bancomer │    222.0 │ Aurrera           │
│ 2018-04-01 │ Gastos    │ Despensa     │ Tarjeta Bancomer │    135.5 │ Super vegetariano │
│ 2018-04-01 │ Gastos    │ Mascotas     │ Efectivo         │    400.0 │ Petra vacunas     │
└────────────┴───────────┴──────────────┴──────────────────┴──────────┴───────────────────┘

In [6]:
# Conver to pandas dataframe from query
df = conn.sql(q).df()

In [7]:
df.head()

,fecha,categoria,subcategoria,tipo_pago,cantidad,observaciones
0,2018-03-31,Gastos,Comida,Efectivo,30.0,None
1,2018-03-31,Gastos,Despensa,Efectivo,42.0,Aurrera
2,2018-04-01,Gastos,Despensa,Tarjeta Bancomer,222.0,Aurrera
3,2018-04-01,Gastos,Despensa,Tarjeta Bancomer,135.5,Super vegetariano
4,2018-04-01,Gastos,Mascotas,Efectivo,400.0,Petra vacunas

In [11]:
# Convert to polars dataframe from query
df_pl = conn.sql(q).pl()

In [12]:
df_pl.head()

shape: (5, 6)
┌────────────┬───────────┬──────────────┬──────────────────┬──────────┬───────────────────┐
│ fecha      ┆ categoria ┆ subcategoria ┆ tipo_pago        ┆ cantidad ┆ observaciones     │
│ ---        ┆ ---       ┆ ---          ┆ ---              ┆ ---      ┆ ---               │
│ date       ┆ str       ┆ str          ┆ str              ┆ f64      ┆ str               │
╞════════════╪═══════════╪══════════════╪══════════════════╪══════════╪═══════════════════╡
│ 2018-03-31 ┆ Gastos    ┆ Comida       ┆ Efectivo         ┆ 30.0     ┆ null              │
│ 2018-03-31 ┆ Gastos    ┆ Despensa     ┆ Efectivo         ┆ 42.0     ┆ Aurrera           │
│ 2018-04-01 ┆ Gastos    ┆ Despensa     ┆ Tarjeta Bancomer ┆ 222.0    ┆ Aurrera           │
│ 2018-04-01 ┆ Gastos    ┆ Despensa     ┆ Tarjeta Bancomer ┆ 135.5    ┆ Super vegetariano │
│ 2018-04-01 ┆ Gastos    ┆ Mascotas     ┆ Efectivo         ┆ 400.0    ┆ Petra vacunas     │
└────────────┴───────────┴──────────────┴──────────────────┴──────────┴───────────────────┘

In [13]:
# Upload csv file to motherduck
try:
    conn.sql("CREATE TABLE products AS SELECT * FROM '../Datasets/products.csv'")
except:
    print('Table already exists in MotherDuck!')

Table already exists in MotherDuck!

In [14]:
# Close motherduck connection
conn.close()

## Contact

<!-- Avatar -->
<img src="../Pictures/profile2.png" alt="me" width="75" height="80">
<!-- Text with color, font, fontsize and specific size -->
<p style="color:#323232; font-family: Helevetica; font-size: 20px;">Jesus L. Monroy<br>Economist | Data Scientist</p>
<!-- Insert url links in logos -->
<!-- Telegram -->
<a href="https://t.me/j3suslm" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Telegram_X_2019_Logo.svg/2048px-Telegram_X_2019_Logo.png?size=16&color=3b3b3b" alt="telegram" width="30" height="22" style="padding-left:8px"/>
<!-- Twitter -->
<a href="https://www.twitter.com/sqlalchemist" target="_blank" rel="noreferrer"> <img src="https://toppng.com/public/uploads/preview/twitter-x-new-logo-round-icon-png-11692480241tdbz6jparr.webp?size=16&color=3b3b3b" alt="twitter" width="30" height="22" style="padding-left:8px"/>
<!-- Github -->
<a href="https://github.com/SqlAlchemist/My-portfolio" target="_blank" rel="noreferrer"> <img src="https://icongr.am/devicon/github-original.svg?size=16&color=3b3b3b" alt="github" width="30" height="30" style="padding-left:8px"/>
<!-- Linkedin -->
<a href="https://www.linkedin.com/in/j3sus-lmonroy" target="_blank" rel="noreferrer"> <img src="https://icongr.am/simple/linkedin.svg?size=16&color=3b3b3b" alt="linkedin" width="30" height="30" style="padding-left:8px"/>
<!-- Medium -->
<a href="https://medium.com/@jesus_lmonroy" target="_blank" rel="noreferrer"> <img src="https://cdn1.iconfinder.com/data/icons/social-media-and-logos-12/32/Logo_medium-512.png?size=55&color=3b3b3b" alt="medium" width="30" height="33" style="padding-left:8px"/>