# A sequel to SQL: Pipelined Relational Query Language (prql)

## Installation

- To update pip repository: `!pip install -U pip`
- To install prql: `!pip install pyprql -q`

## Environment settings

### Imports

In [1]:
import numpy as np
import pandas as pd
import polars as pl
import duckdb
import pyprql
import matplotlib.pyplot as plt
import altair as alt
#load prql extension magic
%load_ext pyprql.magic
%prql duckdb://

There's a new jupysql version available (0.10.5), you're running 0.7.9. To upgrade: pip install jupysql --upgrade

### Datasets

In [2]:
# download example csv file with curl
#!curl -o data.csv https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv

# download example csv file with wget
#!wget -o newdata.csv https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv

# read csv with pandas without downloading it
products = pd.read_csv('https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv')
# you can also save it in a local file
#products.to_csv('../Datasets/products.csv')

In [3]:
products.sample(5)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
27,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60,26,0,0,1
40,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65,85,0,10,0
25,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23,15,0,0,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
45,46,Spegesild,21,8,4 - 450 g glasses,12.00,95,0,0,0

## Running queries with prql

In [4]:
%%prql # activate prql magic
# run prql query
from p = `products` # prql can read pandas dataframe
# from p = `products.csv` # or it can also read from csv file
filter supplierID == 1

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0

In [5]:
%%prql
(from p = `products` # set table alias
    group name = productName ( # set column alias
        aggregate [avg_price = average unitPrice] #set agg alias
        )
    sort [-avg_price,] # sort descending
    take 10
)

                      name  avg_price
0            Côte de Blaye     263.50
1  Thüringer Rostbratwurst     123.79
2          Mishi Kobe Niku      97.00
3   Sir Rodney's Marmalade      81.00
4         Carnarvon Tigers      62.50
5     Raclette Courdavault      55.00
6    Manjimup Dried Apples      53.00
7           Tarte au sucre      49.30
8              Ipoh Coffee      46.00
9        Rössle Sauerkraut      45.60

In [6]:
results = %prql from p = `products` | aggregate [min_units_in_stock = min unitsInStock, max_units_in_stock = max unitsInStock]

In [11]:
results

   min_units_in_stock  max_units_in_stock
0                   0                 125

## Contact

<!-- Avatar -->
<img src="../Pictures/profile2.png" alt="me" width="75" height="80">
<!-- Text with color, font, fontsize and specific size -->
<p style="color:#323232; font-family: Helevetica; font-size: 20px;">Jesus L. Monroy<br>Economist | Data Scientist</p>
<!-- Insert url links in logos -->
<!-- style="padding-left:8px" adds spaces before logo link -->
<!-- Telegram -->
<a href="https://t.me/j3suslm" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Telegram_X_2019_Logo.svg/2048px-Telegram_X_2019_Logo.png?size=16&color=3b3b3b" alt="telegram" width="30" height="22" style="padding-left:8px"/>
<!-- Twitter -->
<a href="https://www.twitter.com/sqlalchemist" target="_blank" rel="noreferrer"> <img src="https://toppng.com/public/uploads/preview/twitter-x-new-logo-round-icon-png-11692480241tdbz6jparr.webp?size=16&color=3b3b3b" alt="twitter" width="30" height="22" style="padding-left:8px"/>
<!-- Github -->
<a href="https://github.com/SqlAlchemist/My-portfolio" target="_blank" rel="noreferrer"> <img src="https://icongr.am/devicon/github-original.svg?size=16&color=3b3b3b" alt="github" width="30" height="30" style="padding-left:8px"/>
<!-- Linkedin -->
<a href="https://www.linkedin.com/in/j3sus-lmonroy" target="_blank" rel="noreferrer"> <img src="https://icongr.am/simple/linkedin.svg?size=16&color=3b3b3b" alt="linkedin" width="30" height="30" style="padding-left:8px"/>
<!-- Medium -->
<a href="https://medium.com/@jesus_lmonroy" target="_blank" rel="noreferrer"> <img src="https://cdn1.iconfinder.com/data/icons/social-media-and-logos-12/32/Logo_medium-512.png?size=55&color=3b3b3b" alt="medium" width="30" height="33" style="padding-left:8px"/>