In [16]:
def foo(required, *args, **kwargs):
    print(required)
    if args:
        print(args)
    if kwargs:
        print(kwargs)

In [27]:
foo('Hello','test',a=0,bins=1)

Hello
('test',)
{'a': 0, 'bins': 1}

In [28]:
def print_vector(x, y, z):
    print('<%s, %s, %s>' % (x, y, z))

In [29]:
print_vector(5,6,9)

<5, 6, 9>

In [35]:
phones = {'Zoe':'567821','Joe':'562698','Jane':'658945','Alice':'458529'}

In [46]:
sorted(phones.items(), key=lambda x:x[1], reverse=False)

[('Alice', '458529'), ('Joe', '562698'), ('Zoe', '567821'), ('Jane', '658945')]

In [3]:
# Display shadow
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(5, 3))
df.style.set_table_styles(
[{'selector': 'tr:hover',
  'props': [('background-color', '#00b100')]}])

In [4]:
# Display negative numbers in red
import pandas as pd
# Create function
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df = pd.DataFrame(dict(col_1=[1.53,-2.5,3.53], 
                       col_2=[-4.1,5.9,0]))

df.style.applymap(color_negative_red)

In [5]:
# Crosstab
df = pd.DataFrame(dict(departure=['SFO','SFO','LAX','LAX','JFK','SFO'],
						arrival=['ORD','DFW','DFW','ATL','ATL','ORD'],
						airlines=['Delta','JetBlue','Delata','AA','Southwest','Delta']))
print(df)
pd.crosstab(index=[df['departure'],df['airlines']],
						columns=[df['arrival']],
						rownames=['departure','airlines'],
						colnames=['arrival'],
						margins=True #add subtotal
						)

  departure arrival   airlines
0       SFO     ORD      Delta
1       SFO     DFW    JetBlue
2       LAX     DFW     Delata
3       LAX     ATL         AA
4       JFK     ATL  Southwest
5       SFO     ORD      Delta

arrival              ATL  DFW  ORD  All
departure airlines
JFK       Southwest    1    0    0    1
LAX       AA           1    0    0    1
          Delata       0    1    0    1
SFO       Delta        0    0    2    2
          JetBlue      0    1    0    1
All                    2    2    2    6

In [18]:
# Column and row subtotals
df = pd.DataFrame(dict(A=[2,6,3],
                       B=[2,2,6], 
                       C=[3,2,3]))

# Column total
df['col_total'] = df.apply(lambda x: x.sum(), axis=1)
# Row total
df.loc['row_total'] = df.apply(lambda x: x.sum())
df

            A   B  C  col_total
0           2   2  3          7
1           6   2  2         10
2           3   6  3         12
row_total  11  10  8         29