# PRQL - Pipelined Relational Query Language
### A sequel to SQL

```Pronounced 'prequel```

```prql```is written in Rust

prql query is a linear pipeline of transformations, each line is a transformation of the previous line’s result. 

This makes it easy to read, and simple to write.

prql is focused on analytical queries, emphasizing data transformations, development speed, and readability.

## Installation

- To update pip repository: `!pip install -U pip`
- To install prql: `!pip install pyprql -q`

## Environment settings

In [36]:
import numpy as np
import pandas as pd
import polars as pl
import duckdb as db
import pyprql
import matplotlib.pyplot as plt
import altair as alt
%load_ext sql
#load prql extension magic
%load_ext pyprql.magic
%prql duckdb:///:memory:

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
The pyprql.magic extension is already loaded. To reload it, use:
  %reload_ext pyprql.magic

### Datasets

In [37]:
# download example csv file with curl
#!curl -o data.csv https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv

# download example csv file with wget
#!wget -o newdata.csv https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv

# read csv with pandas without downloading it
products = pd.read_csv('https://raw.githubusercontent.com/graphql-compose/graphql-compose-examples/master/examples/northwind/data/csv/products.csv')
# you can also save it in a local file
#products.to_csv('../Datasets/products.csv')

In [38]:
products.sample(5)

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
32,33,Geitost,15,4,500 g,2.50,112,0,20,0
22,23,Tunnbröd,9,5,12 - 250 g pkgs.,9.00,61,0,25,0
30,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50,0,70,20,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
34,35,Steeleye Stout,16,1,24 - 12 oz bottles,18.00,20,0,15,0

## Running queries with prql

In [13]:
%%prql # activate prql magic
# run prql query
from p = `products` # prql can read pandas dataframe
# from p = `products.csv` # or it can also read from csv file
filter supplierID == 1

,productID,productName,supplierID,categoryID,quantityPerUnit,unitPrice,unitsInStock,unitsOnOrder,reorderLevel,discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0

In [26]:
%%prql
(
    from p = `products`
    group name = productName (
        aggregate {avg_price = average unitPrice}
    )
    sort{avg_price}
    take 5
)

                 name  avg_price
0             Geitost       2.50
1  Guaraná Fantástica       4.50
2               Konbu       6.00
3            Filo Mix       7.00
4           Tourtière       7.45

In [35]:
%%prql
results = (
    from p = `products` | aggregate {
        min_units_in_stock = min unitsInStock,
        max_units_in_stock = max unitsInStock
    }
)

   min_units_in_stock  max_units_in_stock
0                   0                 125

## Contact

<!-- Avatar -->
<img src="../Pictures/profile2.png" alt="me" width="75" height="80">
<!-- Text with color, font, fontsize and specific size -->
<p style="color:#323232; font-family: Helevetica; font-size: 20px;">Jesus L. Monroy<br>Economist | Data Scientist</p>
<!-- Insert url links in logos -->
<!-- style="padding-left:8px" adds spaces before logo link -->
<!-- Telegram -->
<a href="https://t.me/j3suslm" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Telegram_X_2019_Logo.svg/2048px-Telegram_X_2019_Logo.png?size=16&color=3b3b3b" alt="telegram" width="30" height="22" style="padding-left:8px"/>
<!-- Twitter -->
<a href="https://www.twitter.com/sqlalchemist" target="_blank" rel="noreferrer"> <img src="https://toppng.com/public/uploads/preview/twitter-x-new-logo-round-icon-png-11692480241tdbz6jparr.webp?size=16&color=3b3b3b" alt="twitter" width="30" height="22" style="padding-left:8px"/>
<!-- Github -->
<a href="https://github.com/SqlAlchemist/My-portfolio" target="_blank" rel="noreferrer"> <img src="https://icongr.am/devicon/github-original.svg?size=16&color=3b3b3b" alt="github" width="30" height="30" style="padding-left:8px"/>
<!-- Linkedin -->
<a href="https://www.linkedin.com/in/j3sus-lmonroy" target="_blank" rel="noreferrer"> <img src="https://icongr.am/simple/linkedin.svg?size=16&color=3b3b3b" alt="linkedin" width="30" height="30" style="padding-left:8px"/>
<!-- Medium -->
<a href="https://medium.com/@jesus_lmonroy" target="_blank" rel="noreferrer"> <img src="https://cdn1.iconfinder.com/data/icons/social-media-and-logos-12/32/Logo_medium-512.png?size=55&color=3b3b3b" alt="medium" width="30" height="33" style="padding-left:8px"/>